# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.egg-info/
dist/
build/
myenv/
*.egg
*.log

# Dependency directories
env/
lib/
bin/

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
